# **Lab Assign 1 Control Structures**

1. Develop a Python program that applies discounts to products based on their prices. The program should:
    - Store product names and prices in a dictionary.
    - Use a for loop with range() to process each product.
    - Apply an if-elif-else statement to categorize discounts:
        - If the price is above $500, apply a 20% discount.
        - If the price is between $100 and $500, apply a 10% discount.
        - If the price is below $100, apply no discount.

Use the following products with its discount as test data:

| Product Name | Price |
|--------------|-------|
|    Laptop    |  800  |
|  Headphones  |   75  |
|  Smartphone  |  450  |
|    Tablet    |  200  |
|    Monitor   |  600  |

In [ ]:
products = {
    "Laptop": 800,
    "Headphones": 75,
    "Smartphone": 450,
    "Table": 200,
    "Monitor": 600,
}

product_list = list(products.items())

for i in range(len(product_list)):
  product, price = product_list[i]

  if price > 500:
      discount = price * 0.20
  elif price >= 100 and price <= 500:
      discount= price * 0.10
  else:
       discount = price * 0.0

  final_price = price - discount
  print(f"{product}: ${final_price}")

Laptop: $640.0
Headphones: $75.0
Smartphone: $405.0
Table: $180.0
Monitor: $480.0

2. You are organizing a tech conference where attendees register for different sessions. Some attendees may register for multiple sessions, but you need to determine the total number of unique participants across all sessions.

  Write a Python program that:
    - Takes a list of attendees for each session.
    - Uses sets to find the unique attendees.
    - Outputs the total number of unique participants.

  Use this test data in your program:

        Session 1 attendees: Alice, Bob, Charlie
        Session 2 attendees:  Charlie, David, Alice
        Session 3 attendees:  Eve, Frank, Alice

  **Hint**:  You will use union to combine all sessions

In [ ]:
session1 = ["Alice", "Bob", "Charlie"]
session2 = ["Charlie", "David", "Alice"]
session3 = ["Eve", "Frank", "Alice"]

set1 = set(session1)
set2 = set(session2)
set3 = set(session3)

attendees = set1.union(set2, set3)

print(f"attendees", attendees)

attendees {'Bob', 'Charlie', 'David', 'Alice', 'Eve', 'Frank'}

3. You are tracking the temperature readings of a city for 7 days. Given a list of recorded temperatures, write a Python program that:
    - Uses a for loop with range() to iterate over the temperature readings.
    - Computes the total and average temperature for the week.
    - Displays both the total and average temperature.

Use this temperatures as your sample data: 30, 32, 29, 31, 28, 27, 33

**Note**: Use round() function to average temperature. Use 2 decimal places for the decimal point.

In [ ]:
temperature_data = [30, 32, 29, 31, 28, 27, 33]

for i in range (len(temperature_data)):
    print(f"Day {i+1} temperature: {temperature_data[i]}")

total = sum(temperature_data)
average = total/len(temperature_data)

print(f"\nTotal Temperature: {total} \nAverage Temperature: {round(average, 2)}")

Day 1 temperature: 30
Day 2 temperature: 32
Day 3 temperature: 29
Day 4 temperature: 31
Day 5 temperature: 28
Day 6 temperature: 27
Day 7 temperature: 33

Total Temperature: 210
Average Temperature: 30.0